  button {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  button:hover {
    transition: all 0.3s ease-out;
    background: black;
    color: #ffffff;
    transition: 250ms;
  }

.huff_cards {
    border: 3px solid #252525;
    height: 600px;
    width: 600px;
}

@media screen and (max-width: 960px) {
.huff_cards {
    border: 3px solid #252525;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%;
    margin-block-end: 10px;
    position: relative;
}
}

@media screen and (max-width: 768px) {
    .huff_cards {
    border: 3px solid #252525;
    height: 200px;
    width: 175px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0%;
    left: 10%;
}
}
