.app_image {
    width: 550px;
    height: 500px;
    position: relative;
    left: 650px;
    top: 10px;
    border: 3px solid #252525;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.5s ease;
}

.app_image:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 960px) {
    .app_image {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 40vh;
      position: relative;
      top: 80px;
      left: 10%;
      opacity: 0.9;
      transition: all 0.5s ease;
      margin-block-end: 10px;
    }

  }

