.app_image {
    width: 600px;
    height: 600px;
    position: relative;
    left: 600px;
    top: 0px;
    border: 3px solid #252525;
    border-radius: 10px;
    opacity: 0.9;
    margin-top:20px;
}

.app_image:hover {
    transform: scale(0.9);
}

.app_button {
    top:11%;
    left:55%;
    width:100px;
    height:40px;
    position: absolute;
}
