.main-footer {
  color: white;
  background: linear-gradient(90deg, rgba(28, 27, 27, 0.959) 0%, rgba(26, 23, 23, 0.938) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}