.snake-info-place {
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px);
    font-weight: bold;
    border: 4px solid #f1f1f1;
    transform: translate(33%, 2%);
    width: 60%;
    height: 12%;
    text-align: center;
    line-height: 35px; 
}

.snake-inside-place {
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px);
    font-weight: bold;
    border: 4px solid #f1f1f1;
    transform: translate(20%, 0%);
    width: 70%;
    height: 10%;
    text-align: center;
    line-height: 35px; 
}

h2 {
    color: #e6e6e6; 
    font-family: 'Open sans', sans-serif; 
    font-size: 26px; 
    font-weight: 400; 
    text-align: center;
  }

  h3 {
    color: #e6e6e6; 
    font-family: 'Open sans', sans-serif; 
    font-size: 22px; 
    font-weight: 600; 
    text-align: center;
  }

  h1 {
    color: #e6e6e6; 
    font-family: 'Open sans', sans-serif; 
    font-size: 36px; 
    font-weight: 600; 
    font-style: italic; 
    line-height: 44px; 
    margin: 0 0 10px; 
    text-align: center;
    text-shadow: 0 0 2px white;
  }

  button {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  button:hover {
    transition: all 0.3s ease-out;
    background: black;
    color: #ffffff;
    transition: 250ms;
  }

.snake_cards {
    border: 3px solid #252525;
    height: 450px;
    width: 450px;
}

@media screen and (max-width: 960px) {

    .snake-info-place {
        background-color: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(5px);
        font-weight: bold;
        border: 4px solid #f1f1f1;
        transform: translate(35%, 2%);
        width: 60%;
        height: 17%;
        text-align: center;
        line-height: 35px; 
        position: relative;
    }

.snake_cards {
    border: 3px solid #252525;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%;
    margin-block-end: 10px;
    position: relative;
}
}

@media screen and (max-width: 768px) {
    .snake-info-place {
        background-color: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(5px);
        font-weight: bold;
        border: 4px solid #f1f1f1;
        transform: translate(23%, 2%);
        width: 70%;
        height: 26%;
        text-align: center;
        line-height: 25px; 
        position: relative;
    }

    .snake_cards {
    border: 3px solid #252525;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0%;
    left: 10%;
}

}
